<div class="jumbotron">
    <h1>cellent Coding Dojo 26.07.2015 </h1>
    <p class="lead">
    
    ccd-Webservice http://ccdservice.azurewebsites.net/


        </p>

</div>

<div>

    <p>
        Sourcen des Webservices und ein kleiner Testclient liegt unter 

        <a href="https://github.com/kappos/Cellent-Coding-Dojo">https://github.com/kappos/Cellent-Coding-Dojo</a>
    </p>


    <h1> Rest-Service Api Beschreibung </h1>


    <h2>Alle Bilder auflisten</h2>
    <p>
        <img src="@Url.Content("~/Content/getAll.png")" , alt="getAll" />
    </p>

    <h2>Details von einem Bild anzeigen</h2>
    <p>
        <img src="@Url.Content("~/Content/getDetails.png")" , alt="get" />
    </p>

    <h2>Neues Bild uploaden</h2>
    <p>
        <img src="@Url.Content("~/Content/post.png")" , alt="post" />
    </p>

</div>
<div class="row">
    <div class="col-md-4">
       
    </div>

    <div class="col-md-4">
       
    </div>

    <div class="col-md-4">
      
    </div>
   
</div>
